# editorconfig.org
# My Notes: After installing the EditorConfig plugin for vs code (or whatever editor is being used), these settings will be inforced by the editor to maintain
# consistacy across all the files when edited by developers
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
